:root{
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #10121A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: white;
}